rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Match all collections (projects, skills, about, etc.)
    match /{document=**} {
      // ALLOW READ: Everyone (public)
      allow read: if true;

      // ALLOW WRITE: No one (except you via the Firebase Console)
      allow write: if false;
    }
  }
}
